.postcardcontainer{
    max-width: 100vw;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.postcard {
    width: 670px; 
    height: 480px; 
    margin: auto;
    background-color: aliceblue;
    position: relative; 
    overflow: auto; 
    padding: 0;
}