@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Press+Start+2P&display=swap');


.postcardpage{
    max-width: 100vw;
    height: 100vh;
    font-family: "Chivo Mono";
    overflow: hidden;
    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pagetitle {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagetitle > h3 {
    margin-bottom: 0;
}

.postcardcontainer{
    max-width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* input */
.input {
    width: 20vw;
    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* postcard */
.postcard {
    width: 670px; 
    height: 480px; 
    background-color: aliceblue;
    position: relative; 
    padding: 0;

    flex: 0 0 670px;
}
.title {
    font-size: 15px;
    font-family: "Press Start 2P", sans-serif;
    max-width: 200px;
}
.greeting {
    font-size: 30px;
    font-family: "Press Start 2P", sans-serif;
    max-width: 200px;
}
.bgimage {
    position: absolute;
    width: 650px;
}
.sticker {
    width: 300px;
}

/* input */
.input {
    max-width: 20vw;
}

/* about */
.about {
    padding: 10px;
    width: 20vw;
}
.about > p {
    padding: 0 30px;
}

/*  */
/*  */
/* Mobile View */
@media (max-width:670px) {

    .postcardpage{
        height: 100%;
        font-family: "Chivo Mono";
        overflow: scroll;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .postcardcontainer{
        max-width: 100vw;
        height: 100%;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }    
    
    /* about */
    .about {
        padding: 10px;
        min-width: 80vw;
    }
    .about > p {
        padding: 0 30px;
    }


    /* postcard */
    .postcard {
        width: 230px; 
        min-height: 345px;
        background-color: aliceblue;
        position: relative; 
        padding: 0;

        flex: 0 0 230px;
    }
    .bgimage {
        width: 230px;
    }
    .sticker {
        width: 200px;
    }

    /* input */
    .input {
        min-width: 80vw;
        padding-bottom: 30px;
    }
    .input > input {
        padding: 0 30px;
    }

}